@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/SourceCodePro-VariableFont_wght.ttf') format('truetype');
    font-weight: 200 900;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    overflow: hidden;
}

html {
    background-color: #0f0f0f;
    font-family: 'Source Code Pro', monospace;
    color: #dfdfdf;
}

h1, h2 {
    max-width: 20rem;
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.5rem;
}


h2 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0.125rem;
}
.container {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 5rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logos {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 1.3rem;
    margin: 0 0.5rem;
    transition: all .2s ease-in-out;
    color: #cfcfcf;
}

.logo:hover {
    transform: translateY(-5px);
}

#particle-canvas {
    margin: 0;
    padding: 0;
    z-index: -2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0f0f0f;
}

#lgcanvas {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0f0f0f;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.25rem;
    }
    .logo {
        height: 1.8rem;
    }
}