body {
    color: #fff;
}

.container {
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2.6rem;
}

header > h3 {
    margin: 0 1.3rem;
}

h2 {
    font-family: 'Montserrat';
    font-size: 2rem;
    font-weight: 200;
}

h3, h4, h5, a {
    font-family: 'Montserrat';
}

p {
    max-width: 50rem;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

.background-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    padding: 0;
    margin: 0;
    background-color: "rgba(0,0,0,0.3)";
    backdrop-filter: blur(3px);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-text {
    text-align: left;
}

section {
    margin: 12px;
    padding: 14px;
    max-width: 30rem;
}

.spacer {
    height: 80vh;
}

a {
    transition: all .2s ease-in-out;
    margin: 0;
    color: #FA4616;
    font-style: italic;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 1.3rem;
    margin: 0 0.5rem;
    transition: all .2s ease-in-out;
}

.logo:hover {
    transform: translateY(-5px);
}

#particle-canvas {
    margin: 0;
    padding: 0;
    z-index: -2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content-toggle {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: rgba(200, 200, 200, 0.90);
    border: none;
    text-decoration: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.content-toggle:focus {
    outline: none;
}

hr {
    height: 1px;
    background-color: #888;
    border: none;
    margin: 1rem 0;
}