body {
    font-family: 'Montserrat';
    background: url('../img/bg.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

* {
    margin: 5px;
}

h1 {
    font-size: 4.5em;
    font-weight: 600;
}

h2 {
    font-size: 2em;
    font-weight: 200;
}

p {
    max-width: 50em;
}

a {
    text-decoration: none;
}

.background-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    padding: 0;
    margin: 0;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-text {
    text-align: center;
}

.left-text {
    text-align: left;
}

.card {
    background-color: rgba(255, 255, 255, 0.80);
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: 12px;
    padding: 14px;
}

.link-text {
    transition: all .2s ease-in-out;
    color: #555;
}

.link-text:hover {
    color: #EF4836;
}

.logos {
    display: flex;
    justify-content: center;
}

.logo {
    height: 3em;
    transition: all .2s ease-in-out;
}

.logo:hover {
    transform: translateY(-5px);
}

.split {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.skill {
    flex-basis: 0;
    flex-grow: 1;
}

#particle-canvas {
    margin: 0;
    padding: 0;
    z-index: -2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}